/* User Container Styles */
.nav {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  /* text-align: center; */
  font-size: 24px;
  height: 10vh;
}

.nav a {
  text-decoration: none;
  color: #fff;
  background-color: #0093E9;
  border-radius: 50%;
  padding: 14px;
  box-shadow: 4px 4px 0px  #000;
  outline: none;
  cursor: pointer;
  
}
.nav a:hover{
  background-color:#07bdca9a ;
}
section{
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  height: 100vh;
}
.user-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #7c737300;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
}

.user-container h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.user-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-controls input[type="text"] {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.btn-add-user {
  padding: 10px 20px;
  background-color: #0093E9;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add-user:hover {
  background-color: #0078C1;
}

.users table {
  width: 100%;
  border-collapse: collapse;
  /* border: none; */
}

.users th, .users td {
  padding: 8px;
  /* text-align: left; */
  text-align: center;
}

.users th {
  background-color: #0093E9;
  color: #fff;
}

.user td {
  display: flex;
  justify-content: space-evenly;
}

.users tr:hover {
  background-color: #ddd;
}

.btn-success, .btn-danger {
  padding: 10px 20px;
  margin-right: 5px;
  background-color: #0093E9;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-danger {
  background-color: #FF3333;
}

.btn-success:hover{
  background-color: #36c531;
}
.btn-danger:hover {
  background-color: #db9122;
}
