<section>

  <div class="leave-form-container">
    <h2 class="leave-form-title">Leave Request Form</h2>
    <form #leaveRequestForm="ngForm" class="leave-form" (ngSubmit)="submitLeaveRequest()">
      <div class="form-group">
        <label for="Date">From Date:</label>
        <input type="date" id="fromdate" name="fromdate" required ngModel>
      </div>
  
      <div class="form-group">
        <label for="Date">To Date:</label>
        <input type="date" id="todate" name="todate" required ngModel>
      </div>
     
        <input type="text" id="status" name="status" hidden  [(ngModel)]="defaultstatus">
     
        <input type="number" id="userid" name="userid" hidden  [(ngModel)]="user.userid">
  
        <input type="text" id="name" name="name" hidden  [(ngModel)]="user.name">
  
      <div class="form-group">
        <textarea id="reason" placeholder="Reason" name="reason" rows="4" cols="50" required ngModel></textarea>
      </div>
  
      <div class="button-container">
        <input type="submit" value="Submit" class="submit-button">
      </div>
    </form>
  </div>
</section>
