/* Edit Holidays Container Styles */
section{
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-holidays-container {
  width: 400px;
  margin: 0 auto;
  height: fit-content;
  padding: 20px;
  background-color: #68646400;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.edit-holidays-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.edit-holidays-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.edit-holidays-form label {
  display: block;
  font-weight: bold;
}

.edit-holidays-form input[type="date"],
.edit-holidays-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.edit-holidays-form .button-container {
  margin-top: 20px;
}

.update-button {
  padding: 10px 20px;
  background-color: #0093E9;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-button:hover {
  background-color: #0078C1;
}
