/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}